body {
    margin: 0;
    border: 0;
    height: 100vh;
    width: 100vw;
}

#main-container {
    background-color: beige;
    
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

td {
    height: 60px;
    width: 60px;
}

.White {
    background-color: white;
}

.Black {
    background-color: black;
}

.Path {
    border: 3px solid rgb(0, 140, 255); 
    border-radius: 20px;
    box-sizing: border-box;
    background-clip: padding-box;
    border-width: -3px;
    box-shadow: 0px 0px 5px 3px rgb(0, 140, 255);
    transition: box-shadow 0.3s ease-out;
}

.knight {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gold;
}

.target {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gold;
}